<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.check.com">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.
   READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <!-- <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAUYGW-EfTxrg5d4yYiEuRV8aRdtKSgriA" />-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.WelceomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MapScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Time"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="81cdb4a4a79f943e6a31b2b963e9d790a8bf2176" />
    </application>

</manifest>